<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSLogger.visitorIds</key>
	<string>{"10744975953":"[LS]|v6|1|15342257384344iTvkNjtjE|[LE]"}</string>
	<key>its.sf.Metrics.Events.Page.pageHistory</key>
	<string>["Album_486134843","Genre_1","Search_c2d96f84-be0c-417f-87b4-60186025c0ba","Genre_39","Genre_1"]</string>
</dict>
</plist>
