body {
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
footer {
    text-align: center;
}
.header {
    padding: 20px 0px 0px 0px;
    text-align: center;
}
.profile {
    width: 150px;
}
.profile-name {
    margin-top: 5px;
    margin-bottom: 0.25em;
    font-size: 36px;
}
.content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.table-title {
    font-weight: normal;
    line-height: 1.25;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}
.education-item {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.professional-location {
    font-size: 16px;
}
#back-to-home {
    line-height: 3;
}
.footer-contact {
    line-height: 1;
}
.footer-text {
    font-size: 12px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
table {
    width: 100%;
    thead {
        width: 100%;
    }
}
p {
    font-size: 16px;
    line-height: 1.5;
}
a {
    color: #258cdb;
    text-decoration: none;
}
a:hover {
    color: #2571db;
}
h1 {
    font-size: 28px;
}
ul {
    margin-block-start: 0.75em;
}